{% extends 'base.html' %}

{% block body %}
<h1>Hey, we are Ross &amp; Tim</h1>
<p>
    two developers based in Cologne, Germany.<br/>
    Frustrated by the german public transport and generally wasting time waiting, we built minuteswastedapp.com during our spare time.<br/>
  You will soon be able to contact us via a form that will be here.. somewhere.
</p>

<hr/>

<div class="span5">
<h2>Ross Crawford-d'Heureuse<br/><small>The #startup_life</small></h2>
<p>Anyone who has ever run a startup knows: <b>Its really difficult</b>.</p><p>Not just the work and the pressures thereof, but also managing your home-life.</p>
<p>With this in mind I entered into an agreement with my wife stating that I would record all the of excess minutes that I spend on my startup (http://lawpal.com). By using @minutes_wasted I am able to quickly and easily record that time, as well as time spend on other tasks in the #startup_life.</p>
</div>

<div class="span5">
<h2>Tim Buchwaldt</h2>
<p>I'm always busy doing something - be it reading the news about devops and systems architecture, keeping some server up and stable or programming just for fun. As I'm located in the beautiful city of Sinzig, I have to commute to and from Cologne, which takes enormous amounts of my time due to some trains being notoriously late.  </p>
</div>

<hr/>

{% endblock %}